@{
    ViewBag.Banner = 1;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thiên An</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

</head>
<body>

    <!-- header section starts  -->

    <header class="header">
        <div id="menu-btn" class="fas fa-bars"> </div>
        <a data-aos="zoom-in-left" data-aos-delay="150" href="#" class="logo"> <i class="fas fa-paper-plane"></i>Thiên An </a>
        @if (Session["Email"] != null)
        {
            <div class="navbar">
                <div class="nav_right">
                    <ul>
                        <li class="nr_li dd_main">
                            <img src="~/Content/images/icons8_user_50px_1.png" alt="profile_img">

                            <div class="dd_menu">
                                <div class="dd_right">
                                    <ul>
                                        <a href="@Url.Action("UpdateInfo", "Accounts")">
                                        <li style="list-style: none;">Thông Tin cá nhân</li></a>
                                        <a href="@Url.Action("ChangePass", "Accounts")">
                                        <li style="list-style: none;">Đổi Mật Khẩu</li></a>
                                        <a href="@Url.Action("booking", "Accounts")">
                                        <li style="list-style: none;">Phòng đã đặt</li></a>
                                        @if (Session["Accounts"] != null)
                                        {
                                            <a href="@Url.Action("KhuVuc", "Admin")">
                                            <li style="list-style: none;">Admin</li></a>
                                        }
                                        <a href="@Url.Action("Logout", "Accounts")">
                                        <li style="list-style: none;">Đăng xuất</li></a>
                                    </ul>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        }
        else
        {
            <a data-aos="zoom-in-left" data-aos-delay="1300" href="@Url.Action("Login", "Accounts")" class="btn">Đăng Nhập</a>
        }

    </header>


    <!-- header section ends -->
    <!-- home section starts  -->

    <section class="home" id="home">
    </section>

    <!-- home section ends -->
    <!-- booking form section starts  -->

    <section class="book-form" id="book-form">
        @using (Html.BeginForm("SearchProduct", "Products"))
        {
            <form action="">
                <div class="search-input">
                    <div data-aos="zoom-in" data-aos-delay="150" class="inputBox">
                        <span>Địa Điểm?</span>
                        <input type="text" placeholder="Tên Địa Điểm" value="" name="Location">
                        <div class="autocom-box">
                            <li>Hà Nội</li>
                            <li>Hải Phòng</li>
                            <li>Hà Giang</li>
                            <li>Phú Quốc</li>
                            <li>Phú Thọ</li>
                        </div>
                    </div>
                </div>
                <div data-aos="zoom-in" data-aos-delay="300" class="inputBox">
                    <span>Ngày Thuê?</span>
                    <input type="date" value="" name="DateThue">
                </div>
                <div data-aos="zoom-in" data-aos-delay="300" class="inputBox">
                    <span>Ngày Trả?</span>
                    <input type="date" value="" name="DateTra">
                </div>
                <input data-aos="zoom-in" data-aos-delay="600" type="submit" value="Tìm Kiếm" class="btn">
            </form>
        }
        </section>

    <!-- booking form section ends -->

    @RenderBody()

    <section class="services" id="services">

        <div class="heading">

            <h1>Tiêu Chí</h1>
        </div>

        <div class="box-container">

            <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
                <i class="fas fa-globe"></i>
                <h3>Toàn Thế giới</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, cumque.</p>
            </div>

            <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
                <i class="fas fa-hiking"></i>
                <h3>Cuộc phiêu lưu</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, cumque.</p>
            </div>

            <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
                <i class="fas fa-utensils"></i>
                <h3>đồ uống thực phẩm</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, cumque.</p>
            </div>

            <div class="box" data-aos="zoom-in-up" data-aos-delay="600">
                <i class="fas fa-hotel"></i>
                <h3>Khách sạn giá cả phải chăng</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, cumque.</p>
            </div>

            <div class="box" data-aos="zoom-in-up" data-aos-delay="750">
                <i class="fas fa-wallet"></i>
                <h3>Thanh Toán nhanh Chóng</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, cumque.</p>
            </div>

            <div class="box" data-aos="zoom-in-up" data-aos-delay="900">
                <i class="fas fa-headset"></i>
                <h3>Phục Vụ 24/7</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, cumque.</p>
            </div>

        </div>

    </section>


    <section class="footer">

        <div class="box-container">

            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <a href="#" class="logo"> <i class="fas fa-paper-plane"></i>Thiên An </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ad?</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>

            <div class="box" data-aos="fade-up" data-aos-delay="300">
                <h3>quick links</h3>
                <a href="#book-form" class="links"> <i class="fas fa-arrow-right"></i> Tìm Kiếm </a>
                <a href="#destination" class="links"> <i class="fas fa-arrow-right"></i> Loại Phòng </a>
                <a href="#gallery" class="links"> <i class="fas fa-arrow-right"></i> Khu Vực </a>

            </div>



        </div>

    </section>


    <!-- footer section ends -->
    <!-- Bootstrap core JavaScript-->
    <!-- Bootstrap core JavaScript-->

    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    @RenderSection("Scripts", required: false)
    <script src="~/Content/js/suggestions.js"></script>
    <script src="~/Content/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <script>


        AOS.init({
            duration: 800,
            offset: 150,
        });

        var dd_main = document.querySelector(".dd_main");

        dd_main.addEventListener("click", function () {
            this.classList.toggle("active");
        })

    </script>

</body>
</html>